<% layout('/layout/boilerplate') -%>
<body>

    <div class="row ms-0 me-0">
        <div class="offset-2 col-8">
            <form method="post" action="/listing/new" novalidate class="needs-validation">
                <br /><br />
                <h2>Create Listing</h2>
                <br />
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input class="form-control" type="text" name="listing[title]" id="title" placeholder="Enter title" >
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" name="listing[description]" id="description" placeholder="Enter description" ></textarea>
                    <div class="invalid-feedback">Please enter a description.</div>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <input class="form-control" type="text" name="listing[image]" id="image" placeholder="Enter image URL" >
                </div>

                <div class="row mb-3">
                    <div class="col-md-4 pe-2">
                        <label for="price" class="form-label">PRICE:</label>
                        <input class="form-control" type="text" name="listing[price]" id="price" placeholder="Enter price" >
                        <div class="invalid-feedback">Please enter a price.</div>
                    </div>
                    <div class="col-md-8">
                        <label for="location" class="form-label">LOCATION:</label>
                        <input class="form-control" type="text" name="listing[location]" id="location" placeholder="Enter location" >
                        <div class="invalid-feedback">Please enter a location.</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">COUNTRY:</label>
                    <input class="form-control" type="text" name="listing[country]" id="country" placeholder="Enter country" >
                    <div class="invalid-feedback">Please enter a country.</div>
                </div>
                <br>
                <button class="btn btn-dark btn-color" type="submit">CREATE</button>
            </form>
            <br><br>
        </div>
    </div>
<script src="/js/script.js"></script>
</body>
