<% layout('/layout/boilerplate') -%>
<body>
  
<h3 class="ms-3">LISTINGS</h3>    
<div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1 ps-3 ms-0 pe-3 me-0" >
<% for(i of data){%>
<a href="/listing/<%=i._id%>" style=" text-decoration: none;">
<div class="card col " >
  <img src= <%=i.image%> class="card-img-top" alt="..." style="height: 20rem;">
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
    <b><%= i.title %></b><br>
    &#8377 <%= i.price.toLocaleString('en-IN') %>/night
    </p>
  </div>
</div>

</a>
<%}%>
</div>
</body>