<% layout('/layout/boilerplate') -%>

<div class="row ms-0 me-0">
  <div class="col-6 offset-3">
    <form class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="user" class="form-label">Username</label>
        <input type="text" class="form-control" id="user" aria-describedby="emailHelp" required>
        <div class="invalid-feedback">
          Please provide a username.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <div class="invalid-feedback">
          Please provide a valid email address.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" required>
        <div class="invalid-feedback">
          Please provide a password.
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<script src="/js/script.js" >
</body>


